<div class="ui card">
    <div class="content">
        <div class="header">
            {% if url is defined %}<a href="{{ url }}">{{ title }}</a>{% else %}{{ title }}{% endif %}
            {% if releaseDate is defined %}
            <div class="ui left pointing{% if daysLeft == 0 %} orange{% endif %} label">
                {% if daysLeft == 0 %}
                    today
                {% else %}
                    {{ daysLeft }} days left
                {% endif %}
            </div>
        {% endif %}
        </div>
        <div class="ui divided list">
            {% for item in issues %}
                {% include 'issue.twig' %}
            {% endfor %}
        </div>
    </div>
    <div class="extra content">
        {{ issues | length }} items
        {% if options.showProgressBar is defined and options.showProgressBar %}
            <div data-value="{{ resolvedIssueCount }}" data-total="{{ issues | length }}" class="ui indicating progress">
                <div class="bar">
                    <div class="progress"></div>
                </div>
            </div>
        {% endif  %}
    </div>
</div>