<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Overseer</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">

            <h1>Overseer</h1>
            
            {% if oauth is empty %}
                <p><a href="{{app.url_generator.generate('connect')}}">Click here to authenticate with Jira</a></p>
            {% else %}
                Average support ticket resolution time: {{ time_diff(avgSupportTicketTimeSpentTs) }}
                <br />
                <h3>Support tickets</h3>
                <table class="table table-striped">
                    {% for item in supportTickets %}
                        <tr>
                            <td>{{item.id}}</td>
                            <td>{{item.summary}}</td>
                            <td>{{time_diff(item.created)}} ago</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
    </body>
</html>