<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Overseer</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">

            <h1>Overseer</h1>
            
            Average support ticket resolution time: {{ time_diff(avgSupportTicketTimeSpentTs) }}

            {% if oauth is empty %}
            <p><a href="{{app.url_generator.generate('connect')}}">Click here to authenticate with Jira</a></p>
            {% endif %}
            
            {% if priorities is not empty %}
                <br />

                <h3>Jira Priorities</h3>
                <table class="table table-striped">
                    {% for priority in priorities %}
                        <tr>
                            <td>{{priority.id}}</td>
                            <td>{{priority.name}}</td>
                            <td>{{priority.description}}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
    </body>
</html>